<table>
  <thead>
    <th>Title</th>
    <th>Author</th>
    <th>Category</th>
    <th>List Price</th>
    <th>Our Price</th>
    <th>Active</th>
  </thead>
  <tbody>
    <tr  *ngFor="let book of books">
        <td ><a (click)="viewBookDetails(book)" style="cursor:pointer">{{book.title}}</a></td>
        <td>{{book.author}}</td>
        <td>{{book.category}}</td>
        <td>{{book.listPrice}}</td>
        <td>{{book.ourPrice}}</td>
        <td>{{book.active}}</td>
      </tr>
  </tbody>
</table>