
<header>
    <nav class="navbar navbar-expand-md  navbar-dark bg-dark">
        <div><a routerLink="/" class="navbar-brand">Admin Portal</a></div>
      
        <ul class="navbar-nav">
            <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/booklist" class="nav-link">View Book List</a></li>
            <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/addnewbook" class="nav-link">Add a Book</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end ">
            <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">LOGIN</a></li>
            <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LOGOUT</a></li>
        </ul>
    </nav>

</header>